#one{
    height: 300px;
    width: 300px;
    background-color: #E817C5;
    border: solid rgb(53, 50, 50) 8px ;
    transition: all 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1)
    
    
}
#one:hover{

    transition-delay: 500ms;
    background-color: #6316E9;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}        
#two{
    height: 300px;
    width: 300px;
    background-color: #1BA1E4;
    border: solid rgb(53, 50, 50) 8px;
    transition-property: width, background-image; 
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    /* transition-property: background-image, linear-gradient(to right top, #b2327b, #b83e8b, #bd4a9b, #c156ac, #c462bc, #c462c2, #c363c9, #c264d0, #be59ce, #ba4ecc, #b541ca, #b133c8); */
    
} 
#two:hover{
    height: 800px;
    background-image: linear-gradient(to right top, #b2327b, #b83e8b, #bd4a9b, #c156ac, #c462bc, #c462c2, #c363c9, #c264d0, #be59ce, #ba4ecc, #b541ca, #b133c8); 
}


#three{
    height: 300px;
    width: 300px;
    background-color: #e94c16;
    border: solid rgb(53, 50, 50) 8px;
    font-size: 25px;
}
#three:hover{
    width: 500px;
    height: 500px;
    font-size: 55px;
    text-align: center;
    transition-property: width, height, background-image, font-size, text-align; 
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyyqTgp5X4sHKPfsiGB2dehzVPuMR7IuWu_qVzBi1DoA-WAL7a);
    background-size: cover;
    transition-delay: 600ms;
    transition-timing-function: ease-out ;
}
#four{
    height: 300px;
    width: 300px;
    background-color: rgb(120, 65, 216);
    border: solid rgb(53, 50, 50)8px;
    margin-bottom: 200px;
}
#four:hover{

    transition-property: box-shadow, ;
    transition-duration: 500ms;
    box-shadow: 50px 50px rgb(161, 38, 172) ;

}
#five{
    height: 300px;
    width: 300px;
    background-color: #16E94C;
    border: solid rgb(53, 50, 50) 8px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    /* transition: transform .8s ease-in-out; */
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1)
}
#five:hover{
    height: 400px;
    width: 400px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7bg56L3OMc5DNbIusQGbYavUV01KwUmPVuTOgZGZuMg3hnEZkiQ");
    background-size: cover;
    border-radius: 60%;
    transition-property: background-image, border-radius, height, width, transform-box transform;
    transform: rotateX(360deg);
    font-size: 40px;
    text-align: center;

}
#six{
    height: 300px;
    width: 300px;
    background-color: #F3F00C;
    border: solid rgb(53, 50, 50) 8px;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:transform .8s ease-in-out;
    font-size: 25px;
}
#six:hover{
    height:400px;
    width: 400px;
    border-radius:  30px;
    font-size: 50px;
    text-align: center;
    /* transition-property: border-radius, font-size,text-align;
    transition-duration: 600ms; */
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNGIWD7Q0rKlnYiGZjb_X34n9o-USCI7vOTaCYLXQvkjAc6Ys36g");
    background-size: cover;
    -webkit-transform: rotate(360deg);
          transform: rotateY(360deg);
    }

