@import url('https://fonts.googleapis.com/css?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mitr:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(211, 227, 230);   
}
.header{
    background-image:url(/AdobeStock_127272662.jpeg);
    margin: 0px;
    height: 300px;
    background-size: 100%;
    background-position: center;
}
.header >h1{
  font-size: 65px; 
  font-family: 'Nunito', sans-serif;
  text-align: left;
  color: rgb(211, 227, 211);
  text-shadow: 5px 6px 8px  rgb(1, 12, 15);
  margin-top: 18px;
  margin-left: 130px;
  padding-top: 110px;
}

.header >h2{
    font-size: 50px; 
    font-family: 'Nunito', sans-serif;
    text-align: left;
    color: rgb(211, 227, 211);
    text-shadow: 5px 6px 8px  rgb(1, 12, 15);
    margin-top: -10px;
    margin-left: 210px;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.navbar{
      position: sticky;
      top: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: rgb(211, 227, 230);
} 

.navbar > a{
    color:  rgb(4, 39, 49);
    font-size: 25px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}
.navbar >a:hover{
    font-size: 40px;
    text-shadow: 3px 4px 3px rgb(64, 142, 163);
    cursor: pointer;

}

:root{
      scroll-behavior: smooth;
}

.about-container >h1{
    font-size: 35px;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    color:  rgb(4, 39, 49);
    text-align: center;
}
.intro{
    display: grid;
    /* grid-gap: 10px; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.par-intro{
    grid-column: 1/2;
    grid-row: 1/3;
    font-size: 27px;
    color:  rgb(4, 39, 49);
    font-family: 'Nunito', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;

}
.par-intro >h3{
    font-size: 27px;
    font-style: italic;
    margin-left: 30px;
}

.par-1{
    grid-column: 2/3;
    grid-row: 1/3;
    font-size: 25px;
    text-align: left;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 70px;
    color: rgb(4, 39, 49);
    font-family: 'Nunito', sans-serif;
}
.par-1 >h3{
    font-size: 22px;
}
.par-2{
    grid-column: 1/2;
    grid-row: 3/4;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px;
    padding-top: 0;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    text-align: justify;
    color: rgb(4, 39, 49);    
}
.par-2 >h3{
    font-size: 22px;
}
.skills-container{
    background-color: #004250;
    padding-bottom: 5px;
}
.skills-container > h1{
    font-size: 35px;
    font-family: 'Nunito', sans-serif;
    color: rgb(211, 227, 211);
    text-align: center;
}

.list{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 margin-left: 155px;
 margin-top: 20px;
 margin-bottom: -25px;   
 
}
.list > h1{
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    color: rgb(211, 227, 211);
}
.list > li{
    font-size: 26px;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 30px;
    color: rgb(211, 227, 211);
}
.projects-container{
    height: 500px;
}
.projects-container >h1{
    margin-top: 0px;
    margin-bottom: 18px;
    font-size: 35px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color:  rgb(4, 39, 49);   
}
.ind-project-cont{
    margin-bottom: 5px;
}

.img-container{
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.ind-project-cont > ul > li{
    text-align: left;
    margin-left: 94px;
}
 .seinfeld{
    border: solid  rgb(4, 39, 49) 4px;
    height: 420px;
    width: 260px;
    border-radius: 8%;
    margin-bottom: 30px; 
    margin-left: 2px;
    text-align: center;  
    color: rgb(4, 39, 49);
    box-shadow: black 3px 5px 5px;
}
.seinfeld >h5{
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 3px;
}
.budget{
    border: solid  rgb(4, 39, 49) 4px;
    height: 420px;
    width: 260px;
    border-radius: 8%;
    margin-bottom: 30px; 
    text-align: center;  
    color: rgb(4, 39, 49);
    box-shadow: black 3px 5px 5px;
}
.budget >h5{
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 3px;
}
.pets{
    border: solid  rgb(4, 39, 49) 4px;
    height: 420x;
    width: 260px;
    border-radius: 8%;
    margin-bottom: 30px; 
    text-align: center;  
    color: rgb(4, 39, 49);
    box-shadow: black 3px 5px 5px;
}
.pets >h5{
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 3px;
}

.seinfeld p{
    color: rgb(4, 39, 49);
    
}
.seinfeld > h3{
    color: black;
    padding-bottom: 2px;
    margin-bottom: 5px;
}
.seinfeld > h4{
    color: rgb(7, 45, 56);
    padding-bottom: 6px;
    font-size: 15px;
    font-style: italic;
}
.budget >p{
    color: rgb(4, 39, 49);
}
.budget> h3{
    color: black;
    padding-bottom: 2px;
    margin-bottom: 10px;
}
.budget > h4{
    color: rgb(7, 45, 56);
    padding-bottom: 15px;
    font-size: 15px;
    font-style: italic;
}

.pets> h3{
    padding-bottom: 2px;
    color: black;
    margin-bottom: 5px;
    
}
.pets> h4{
    color: rgb(7, 45, 56);
    padding-bottom: 6px;
    font-size: 15px;
    font-style: italic;
}
.pets> p{
    color: rgb(4, 39, 49)
}
.pets > a{
    margin-top: 3px;
}

.image > a{
    font-size: 26px;
    color: #004250;
    text-decoration: none;
    border: solid 10px rgb(4, 39, 49);
    height: 65px;
    line-height: 40px;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-weight: bolder;
    margin-top: 15px;
    color: rgb(211, 227, 211);
    width: 225px;
} 

.seinfeld >p{
    text-decoration: none;
}
.resume{
    background-color:  #004250;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 161px;
}
.resume > h1{
    font-size: 35px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-weight: bolder;
    margin-top: 5px;
    color: rgb(211, 227, 211);
}
.image{
    /* background-color: rgb(239, 245, 239); */
    display: flex;
    justify-content: center;
    height: 110px;
    width: 280px;  
    border-radius: 5%;
    /* border: solid 15px  rgb(4, 39, 49); */
}
.footer >h1{
    font-size: 35px;
}
.footer{
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-bottom: 50px;
}
.icon{   
    margin-top: 40px;
}
.icon > a{
    margin-right: 20px;
}

@media screen and (max-width:600px) {
    .navbar{
        flex-wrap: wrap;
    }
    .navbar >a{
        font-size: 18px;
    }
    .header{
        background-repeat: no-repeat;
        flex-wrap: wrap;
        height: 150px;
        
    
    }
    .header >h1{
        font-size: 30px;
        text-align: center; 
        margin-left: 0;
        padding-top: 29px;
        
      }
    .header >h2 {
        font-size: 30px;
        text-align: center;
        margin-left: 0;
        flex-wrap: wrap;
    } 
    .about-container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        height: 500px;
    }
    .about-container >h1{
        font-size: 29px;
        margin-top: 62px;
    }
    .about{
        /* width: 100vw; */
        display: flex;
        flex-direction: column;
        margin: 0px 0px 100px 0px; 
        text-align: center;   
    }
    .intro{
        padding: 0;
        margin: 0;
        font-size: 15px;
        width: 100vw;
        text-align: center;
        /* padding-top: 30px;  */
        color:  rgb(1, 20, 26);
    }
    
    .par-1{
        text-align: center;
        width: 100vw;
        font-size: 20px;
        margin-top: 22px;
        font-size: 14px;
    }
    /* .par-1 >h2{
        font-size: 15px;
    } */
    
    .par-2{
        font-size: 14px;
        text-align: center;
        width: 100vw;
        margin-top: 27px;
        
    }
    .list{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
        margin-top: 2px;
        margin-bottom: 0px;
        align-items: center;
        

    
           
        
       }
    .skills-container{
        display: flex;
        flex-direction: column;
    
        
    }
    .skills-container > h1{
        font-size: 32px;
        margin-top: 12px;
    }
    .projects-container{
        height: 200px
    }
    .projects-container > h1{
        font-size: 31px;
        margin-top: 10px;
    }
    .list >li {
        font-size: 18px;
        padding-bottom: 4px;
        
    }
    img{
        border: solid  rgb(4, 39, 49) 6px;
        height: 140px;
        width: 140px;
        border-radius: 8%;
        margin-top: 10px;
    
    }
    
    .image > a{
        font-size: 20px;
        margin-top: -40px;
        
    }
    .resume{
        height: 160px;
    }
    .resume >h1{
        font-size: 32px;
        margin-bottom: 10px;
    }
    .image{
        height: 90px;
        width: 175px; 
    }
    .footer{
        margin-bottom: 15px;
        height:
    }
    .footer >h1{
        font-size: 31px;
    }
    .footer >h2{
        font-size: 20px;
    }
    .footer >h3{
        font-size: 17px;
    }
    .fa-4x {
        font-size: 2em;
    }
    .icon{
        margin-top: 15px;
    }

}
 